@model ClientSpaceModel
@{
    ViewData["Title"] = "Личный кабинет";
    Layout = "~/Views/Shared/_Layout.cshtml";
    var client = Model.Client;
    var orderedProducts = Model.OrderedProducts;
    var reviews = Model.ClientReviewd;
    var masters = Model.MastersToCome;
    var services = Model.NeededServices;
    var clientServiceInfo = Model.ClientServices;
}

<div class="col">
    <div class="row">
        <p class="row text-nowrap fs-3 text-start">Добро пожаловать в личный кабинет, @client.FirstName</p>
        <p class="row">Ваша почта:@client.Email</p>
        @if (!string.IsNullOrEmpty(client.MobilePhone))
        {
            <p class="row">Ваш номер телефона: @client.MobilePhone</p>
        }
    </div>

    @if (orderedProducts.Any())
    {
        <p class="row fw-normal fs-3">Ваши заказы:</p>
        <div class="row border border-3">
            @foreach (var prod in orderedProducts)
            {
                <div class="card col-4 me-1">
                    <div class="card-body">
                        @if (prod.PhotoLink != null)
                        {
                            <img class="card-img-top" src=@prod.PhotoLink style="max-height: 30px;max-width: 30px;"/>
                        }
                        <p class="row fs-3 card-title fw-bold">@prod.Title</p>
                        <p class="row card-text">@prod.Description</p>
                        <p class="row card-text text-success">Цена: @prod.EachPrice.ToString()</p>
                    </div>
                </div>
            }
        </div>
    }
    
    @if (reviews.Any())
    {
        <div class="row">
            @foreach (var rev in reviews)
            {
                if (rev.Rating != null)
                {
                    <p class="row">@rev.Rating.ToString()</p>    
                }
                <p class="row">@rev.Review</p>
            }
        </div>
    }

    @if (services.Any())
    {
        <div class="row mt-4 rounded rounded-2 border border-2 border-info mb-2 p-2">
            @foreach (var serv in services)
            {
                var servDate = clientServiceInfo.FirstOrDefault(cs => cs.ServiceId == serv.ServiceId)?.ServiceDate;
                <div class="card col-4">
                    <div class="card-body">
                        <p class="card-title">@serv.Title</p>
                        <p class="card-text">@serv.Description</p>
                        @if (servDate != null)
                        {
                            <p class="card-text">Вы записаны на: @servDate?.ToString("MM/dd/yyyy HH:mm")</p>
                        }
                    </div>
                </div>
            }
        </div>    
    }
    <a class="row btn btn-primary mb-4" asp-action="AppointmentToMaster">Записаться на приём</a>

    <div class="row flex-row">
        <a class="btn btn-danger row justify-self-center" asp-controller="Verification" asp-action="Logout">
            <span class="street-text text-nowrap">Выйти из аккакунта</span>
        </a>
    </div>

</div>


@section Scripts{
    <link rel="stylesheet" href="~/css/client_space.css" asp-append-version="true" />
}

